#flights{
	height:100%;
	width:100%;
	margin-top:5%;
}

body { 
        
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}
body{
    position: relative;
    text-align: center;
    height:95%%;
	width:100%%;   
}

.container-fluid{
    text-align: left;
}

.btn-danger{
    background-color: blue;
}

#navBarlogIn{
	display: none;
}
#navBarNotLogIn{
	display: block;
}
#loggeduser{
	font-weight:bold;
	color:red;
}
#addFButton{
	margin-top:15px;
}
#filterFlights{
	margin-top:4%;
}
#resModal {
    z-index: 1999; 
}
#deleteRModal {
    z-index: 2000; 
}

#destSearch{
	width:50%;
	margin-top:4%;
}
#numberSearch{
	width:25%;
}
